<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/colored-snackbar.css">
    <link rel="stylesheet" href="style.css">
    <script src="../js/colored-snackbar.js"></script>
</head>
<body ng-app="coloredSnackbar">
<div class="jumbotron ">
    <h1 align="center">Colored Snackbar</h1>
    <h4 align="center">A super simple customizable angular snackbar module</h4>
    <br>
</div>
<div class="row-md-4">
    <div class="col-md-2 col-md-offset-5">
        <div class="text-center">
            <button type="button" class="btn btn-primary center" colored-snackbar message="Colored Snack Bar"
                    back-color="black" font-color="yellow" snack-time="3000" position="top" ng-click="showSnackbar()">
                Top Snackbar
            </button>
        </div>
        <p></p>
        <div class="text-center">
            <button type="button" class="btn btn-primary" colored-snackbar message="Hello World" back-color="gray"
                    font-color="white" snack-time="3000" position="bottom" ng-click="showSnackbar()">
                Bottom Snackbar
            </button>
        </div>
    </div>
</div>
</body>
</html>